@font-face {
  font-family: Oswald;
  src: url(./../fonts/Oswald-Medium.ttf);
}
@font-face {
  font-family: SVN-Avo;
  src: url(./../fonts/UTM Avo.ttf);
}
@font-face {
  font-family: SVN-Poppins;
  src: url(./../fonts/SVN-Poppins-Bold.ttf);
}
@font-face {
  font-family: SVN-Poppinsmedium;
  src: url(./../fonts/SVN-Poppins-Medium.ttf);
}
@font-face {
  font-family: SVN-Poppinsregular;
  src: url(./../fonts/SVN-Poppins-Regular.ttf);
}
@font-face {
  font-family: SVN-Poppinslight;
  src: url(./../fonts/SVN-Poppins-Light.ttf);
}
/* man 1920 */
@media screen and (min-width: 1560px) {
	.container_width {
		width: 1570px;
	}
}
@media screen and (max-width: 1560px) {
	.container_width {
		max-width: 1170px;
	}
}
/* man 1440 pc */
@media screen and (max-width: 1560px) and (min-width: 1400px) {
	.element_slider .item_slide {
		height: 700px;
	}
}

/* 1440 & 1366 pc */
@media screen and (max-width: 1560px) and (min-width: 1100px) {
	.section_slider_homepage .mouse_poiter {
		bottom: 1%;
	}
	.grid_img_hover {
		grid-auto-rows: 250px;
	}
	.slider_img_large .item {
		height: 650px;
	}
	.slider_video .item {
		height: 650px;
	}
	.grid_product {
		grid-auto-rows: 250px;
	}
	.footer_pc .container .row .footer_3 {
		width: 20%;
	}
	.footer_pc .container .row .footer_4 {
		width: 17%;
	}
	.title_default p {
		font-size: 15px;
	}
	.title_default h2 {
		font-size: 27px;
	}
	.grid_product .grid_box_product .hover_content p a {
		font-size: 21px;
	}
	.grid_product .grid_box_product .hover_content .btn_seemore,
	.item_solution .hover_content .btn_seemore {
		font-size: 16px;
	}
	.item_solution .hover_content p a {
		font-size: 18px;
	}
}

/* man 1366 pc */
@media screen and (max-width: 1399px) and (min-width: 1100px) {
	.element_slider .item_slide {
		height: 600px;
	}
}

/* man ipad pro & ipad */
@media screen and (max-width: 1100px) and (min-width: 576px){
	.section_image_hover , .section_image_large, .section_video_home_page {
		padding: 0;
	}
	.section_solution {
		padding: 0 0 30px 0;
	}
	.section_slider_homepage .mouse_poiter {
		bottom: 0;
	}
}
/* man 1024 ipad pro */
@media screen and (max-width: 1100px) and (min-width: 992px) {
	.slider_img_large .item, .slider_video .item {
		height: 500px;
	}
	.element_slider .item_slide {
		height: 500px;
	}
	.element_slider .item_slide .content h2 {
		font-size: 40px;
		line-height: 45px;
	}
	.element_slider .item_slide .content p {
		font-size: 20px;
	}
	.element_slider .item_slide .content .btn_research {
		font-size: 16px;
		margin-top: 30px;
	}
	.title_default h2 {
		font-size: 24px;
		margin-bottom: 0;
	}
	.grid_img_hover {
		margin-top: 15px;
		grid-auto-rows: 200px;
	}
	.title_default p {
		font-size: 14px;
		margin: 0;
	}
	.grid_product {
		grid-auto-rows: 200px;
	}
	.item_solution .hover_content p a {
		font-size: 16px;
	}
	.item_solution .hover_content p {
		margin-bottom: 10px;
	}
	.item_solution .hover_content .btn_seemore {
	    font-size: 16px;
	    line-height: 20px;
	    width: 150px;
	    height: 38px;
	}
	
}

/* man 768 ipad */
@media screen and (max-width: 991px) and (min-width: 576px) {
	.slider_img_large .item, .slider_video .item {
		height: 350px;
	}
	.element_slider .item_slide {
		height: 350px;
	}
	.element_slider .item_slide .content h2 {
		font-size: 30px;
		line-height: 35px;
	}
	.element_slider .item_slide .content p {
		font-size: 16px;
	}
	.element_slider .item_slide .content .btn_research {
		font-size: 16px;
		margin-top: 10px;
	}
	.title_default h2 {
		font-size: 20px;
		margin-bottom: 0;
	}
	.grid_img_hover {
		margin-top: 15px;
		grid-auto-rows: 150px;
		grid-template-columns: repeat(4, minmax(180px, 1fr));
	}
	.title_default p {
		font-size: 14px;
		margin: 0;
	}
	.grid_product {
		grid-auto-rows: 150px;
		grid-template-columns: repeat(4, minmax(180px, 1fr));
	}
	.item_solution .hover_content p a {
		font-size: 15px;
	}
	.item_solution .hover_content p {
		margin-bottom: 10px;
	}
	.item_solution .hover_content .btn_seemore {
		font-size: 14px;
		line-height: 14px;
		width: 120px;
		height: 30px;
	}
}

/* mobi */
@media screen and (max-width: 576px) {
	.section_image_hover , .section_image_large, .section_video_home_page {
		padding: 0;
	}
	.section_solution {
		padding: 0 0 15px 0;
	}
	.element_slider .item_slide {
		height: 300px;
	}
	.element_slider .item_slide .content {
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 90%;
	}
	.element_slider .item_slide .content h2 {
		font-size: 14px;
		line-height: 16px;
		margin: 0 0 15px 0;
	}
	.element_slider .item_slide .content p {
		font-size: 12px;
		margin: 0;
		line-height: 14px;
		margin-bottom: 20px;
	}
	.element_slider .item_slide .content .btn_research {
	    font-size: 14px;
	    margin-top: 10px;
	    width: 150px;
	    height: 36px;
	    line-height: 18px;
	    margin-left: 0;
	}
	.element_slider .item_slide .content .btn_research:before {
	    display: none;
	}
	.section_slider_homepage .mouse_poiter {
		bottom: 0;
		left: 48%;
	}
	.section_slider_homepage .mouse_poiter p {
		font-size: 12px;
	}
	.title_default h2 {
		font-size: 14px;
		line-height: 14px;
	}
	.title_default p {
		font-size: 12px;
		line-height: 14px;
	}
	.title_default {
		padding: 0 25px;
	}
	.slider_img_large .item , .slider_video .item{
		height: 250px;
	}
	.element_solution {
		padding: 0 15px;
		margin-top: 15px;
	}
	.item_solution {
		width: 100%;
		margin: 10px 0;
	}
	.item_solution .hover_content p a {
		font-size: 16px;
	}
	.item_solution .hover_content p {
		margin-bottom: 10px;
	}
	.item_solution .hover_content .btn_seemore {
	    font-size: 16px;
	    line-height: 18px;
	    width: 140px;
	    height: 36px;
	}
	.slider_video .slick-prev img, .slider_video .slick-next img {
	    background: #34343475;
	    padding: 10px 5px;
	    max-width: 100%;
	}
	.slider_video .item .thumbnail .play_video {
		width: 15%;
	}
	.slider_video .slick-next {
		right: 0;
	}
	.grid_img_hover {
	    margin-top: 15px;
	    grid-gap: 2px;
	    grid-template-columns: repeat(4, minmax(86px, 1fr));
	    grid-auto-rows: 90px;
	}
	.grid_product {
		display: inherit;
		padding: 0 15px;
	}
	.grid_box_product {
		display: inherit;
		height: 250px;
		width: 100%;
		margin: 8px 0;
	}
	.grid_product .grid_box_product .hover_content p a {
		font-size: 18px;
		-webkit-line-clamp: 2;
	}
	.grid_product .grid_box_product .hover_content .btn_seemore {
	    font-size: 16px;
	    line-height: 18px;
	    width: 150px;
	    height: 36px;
	}
	.icon_allpage {
		right: 10px;
		bottom: 0px;
	}
	.icon_allpage a {
	    margin: 4px;
	}
	.icon_allpage .icon_backtotop {
	    transform: translate(0%, -35%);
	}
	.footer_pc .container .row {
	    display: inherit;
	    flex-flow: inherit;
	    justify-content: normal;
	    width: 100%;
	    padding-left: 15px;
	    margin-right: 0;
	}
	.footer_pc .container .row .footer {
		width: 100%;
	}
	.footer_pc .container .row .footer ul {
		display: none;
		margin-top: 8px;
	}
	.footer_pc .container .row .footer h3 {
		border-bottom: 1px solid #8080808f;
	    padding-bottom: 15px;
	    margin: 0;
	    color: #ffffff8f;
	    position: relative;
	    font-family: 'SVN-Poppinslight';
	    font-weight: normal;
	}
	.footer_pc .container .row .footer_4 h3 {
		border-bottom: none;
	}
	.footer_pc .container .row .footer h3.active {
		color: #fff;
	}
	.footer_pc .container .row .footer h3.active:before {
		transform: rotate(45deg);
		border-right: 1px solid #fff;
	    border-bottom: 1px solid #fff;
	}
	.footer_pc .container .row .footer h3:before {
		position: absolute;
	    content: '';
	    width: 8px;
	    height: 8px;
	    background: transparent;
	    border-right: 1px solid #8080808f;
	    border-bottom: 1px solid #8080808f;
	    right: 15px;
	    top: 3px;
	    transform: rotate(-45deg);
	}
	.footer_pc .container .row .footer_1 .icon_footer{
		position: absolute;
	    bottom: 35px;
	    left: 50%;
	    transform: translate(-50%, 0);
	}
	.footer_pc {
		padding: 20px 0 50px 0;
		position: relative;
	}
	.footer_pc .container .row .footer h2 {
		margin-bottom: 25px;
	}
	.mouse_poiter img {
		max-width: 60%;
	}
	.section_slider_homepage .mouse_poiter p {
		font-size: 10px;
	}
	
} 